<div class="container">
  <form #form="ngForm" (ngSubmit)="signup(form)">
    <h2 class="heading text-center">アカウントを作成</h2>
    <div class="form-group">
      <input ngModel type="email" name="email" class="form-control" placeholder="メールアドレスを入力" required autofocus>
    </div>
    <div class="form-group">
      <input ngModel type="password" name="password" class="form-control" placeholder="パスワードを入力" required>
    </div>
    <button class="btn btn-lg btn-primary" type="submit">新規登録</button>
  </form>
  <div class="note">
    <a routerLink="/login" class="signup-link">ログインはこちら</a>
  </div>
</div>

